{% extends 'base.html' %}

{% block block_title %}
<title>首页 - 局域网文件传输工具</title>
{% endblock %}

{% block extend_script %}
<script src="/static/js/index.js"></script>
{% endblock %}

{% block block_body %}
<div class="row height-full">
    <div class="col-lg-12 height-full">
        <div class="body-content">
            <img src="/static/images/qrcode/{{ global_inner_ip }}.png" alt="{{ global_inner_ip }}">
            <div id="progress_topic">
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:50%;">50%</div>
                </div>
            </div>
            <div class="select-picker">
                <div id="picker" class="float-left">上传</div>
                <div><a href="{{ url_for("transferFile.file_list") }}" id="download" class="btn-success float-right">下载</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}