bidict==0.21.2
cffi==1.14.5
click==6.7
colorama==0.4.4
fast-ft==0.1.6
Flask==0.12.2
Flask-SocketIO==4.2.1
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==2.0.1
Pillow==7.2.0
pycparser==2.20
python-engineio==3.11.2
python-socketio==4.4.0
qrcode==5.1
six==1.15.0
Werkzeug==0.12.2
zope.event==4.5.0
zope.interface==5.4.0
