@media (max-width: 768px) {
    nav.navbar {
        height: 8%!important;
    }
    div.main-body {
        height: 92%!important;
    }
    div.body-content {
        width: 100%!important;
    }
    div#file_list {
        width: 90%!important;
    }
    div.webchat {
        z-index: 9999;
        width: 100%!important;
        bottom: 0!important;
        right: 0!important;
    }
    div.tool-box > div.webchat {
        height: 100%!important;
    }
}
html,
body {
    height: 100%;
}
ul,
li {
    list-style: none;
}
a:visited,
a:hover {
    text-decoration: none;
}
nav.navbar {
    height: 10%;
    border-bottom: unset;
    margin-bottom: 0!important;
    color: var(--color-header-logo);
    background-color: var(--color-header-bg);
}
div.webuploader-pick {
    width: 68px;
}
div.brand-title h1 {
    height: 100%;
    line-height: 170%;
    background: url(/static/images/title.png) left center no-repeat;
    background-size: contain;
}
div.brand-title > a {
    color: unset!important;
}
div.brand-title > a:hover {
    text-decoration: none;
}
div.main-body:before {
    content: "";
    display: block;
    /*height: var(--screen);*/
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-image: url('/static/images/dot.png');
    background-color: var(--ImgShadow);
    z-index: 0;
    opacity: 0.1;
}
div.main-body {
    width: 100%;
    height: 90%;
    background-image: linear-gradient(180deg
    , var(--color-intro-shelf-gradient-out), var(--color-intro-shelf-gradient-in)),
    linear-gradient(70deg
    , var(--color-intro-shelf-gradient-left) 32%, var(--color-intro-shelf-gradient-right));
}
div.body-content {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
div.body-content > img {
    width: 200px;
    display: block;
    margin: auto;
}
/** 滚动条样式 **/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
/** 滚动条背景样式 **/
::-webkit-scrollbar-track-piece {
    background: #ccc;
}
/** 滚动条样式 **/
::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 15px;
}
div#progress_topic {
    width: 300px;
    height: 20px;
    margin: 20px auto;
}
div.select-picker {
    width: 200px;
    margin: 20px auto;
}
div.select-picker > div#picker {
    width: 72px;
}
div.select-picker  #download {
    width: 68px;
    height: 41px;
    line-height: 41px;
    border-radius: 3px;
    text-align: center;
}
div.select-picker  #download:hover {
    text-decoration: none;
    background-color: #4ba44b!important;
}
.btn-success {
    color: #fff!important;
    background-color: #5cb85c!important;
    border-color: #4cae4c!important;
}
#file_list {
    top: 50%;
    left: 50%;
    width: 40%;
    height: 90%;
    padding: 10px;
    overflow: overlay;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.8);
}
#file_list > ul {
    margin-bottom: 15px;
}
#file_list li > p {
    margin-bottom: unset;
}
#file_list li.bottom-line {
    border-bottom: solid 1px #ccc;
}
#file_list li span {
    margin-right: 5px;
}
#file_list li > ul > li {
    padding: 0 15px;
    margin: 10px 0;
}

div.tool-box {}
div.tool-box .tool-button {
    position: fixed;
    right: 5px;
    bottom: 10px;
}
div.tool-box .tool-button > ul > li {
    width: 4rem;
    height: 4rem;
    margin-bottom: 5px;
    position: relative;
    background: #efeded;
    border-radius: 50%;
    border: 1px #f2f2f2 solid;
    box-shadow: 0px 5px 20px rgb(232 236 240);
}
div.tool-box .tool-button > ul > li > span{
    font-size: 20px;
    width: 20px;
    margin: auto;
    position: absolute!important;
    display: block!important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.on-message {
    background-color: #C49C5E!important;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:breathe;
    -webkit-animation-duration:1500ms;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
}

/*呼吸灯效果*/
@-webkit-keyframes breathe {
    0% {
    opacity:0.6;
    transform: scale(.90) ;
    }
    100% {
      opacity:1;
      transform: scale(1);
    }
}
@keyframes breathe {
    0% {
      opacity:0.6;
      transform: scale(.90) ;
    }
    100% {
      opacity:1;
      transform: scale(1);
    }
}
@-moz-keyframes breathe {
    0% {
      opacity:0.6;
      transform: scale(.90) ;
    }
    100% {
      opacity:1;
      transform: scale(1);
    }
}
@-o-keyframes breathe {
    0% {
      opacity:0.6;
      transform: scale(.90) ;
    }
    100% {
      opacity:1;
      transform: scale(1);
    }
}
/*./呼吸灯效果*/

div.tool-box > div.webchat {
    width: 355px;
    height: 500px;
    position: fixed;
    right: 5px;
    bottom: 10px;
}
div.tool-box > div.webchat > iframe#chatIframe {
    width: 100%;
    height: 100%;
    border: 0;
}
div.webchat {
    transition: all 0.2s;
}

.chat-close {
    display: none;
    height: 0!important;
}